
doctype html
html(lang='en')
  head
    title Binarias
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .container
      h1 Your request has been submitted
      a.btn.btn-success.btn-lg.active(href='/' role='button' aria-pressed='true') Home

      
      